
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            Ms. O's Company
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed and
      <a href="#" target="_blank"> </a>. Coded by
      <a href="#" target="_blank">Ms. Olarte</a>.
    </div>
  </div>
</footer>
